
name: hello-world

on:
  schedule:
    - cron: "55 1 * * *"
  workflow_dispatch:

jobs:
  hello-job:
    runs-on: ubuntu-latest
    steps:
      - name: Echo text
        run: |
          echo "Hello, world!"
          date -u
